.learning-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.box {
  height: 200px;
  width: 200px;
  border-radius: 12px;
  margin: 5px;
  background-color: rgba(182, 239, 73, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.box-height-width {
  min-height: 200px;
  max-height: 300px;
  max-width: 600px;
  min-width: 200px;
  background-color: aqua;
  border-width: 5px;
  border-style: dashed;
  border-color: rgb(44, 43, 43);
  /* border: 1px rgb(90, 87, 87) solid; */
  overflow: scroll;
  padding-left: 10px;
  /* margin-bottom: 20px; */
  margin: 10px auto 10px auto;
  text-align: center;
}

.sub-div {
  height: 200px;
  width: 200px;
  background-color: red;
}
