body {
  /* background-color: red; */
}

.container {
  display: flex;
  min-height: 300px;
}
.container > div {
  flex: 1;
}
.box1 {
  background-color: red;
}

.box2 {
  background: linear-gradient(180deg, #0398fc, #a6d5f5);
  padding: 5px;
}

@media (max-width: 600px) {
  .container {
    /* display: block; */
    flex-direction: column;
  }
  img {
    height: 200px;
  }
}
