body {
  background-color: aquamarine;
}


.test-div {
  background-color: cornflowerblue;
  border-radius: 5;
  width: 200px;
  margin: 8px auto;
}

.test-div-title {
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  width: 60%;
}

td,
th {
  width: 100px;
  border: 1px solid #ccc;
  text-align: center;
}

table {
  width: 600px;
  margin: 12px auto;
}

.card-div {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px auto;
  width: 300px;
  max-height: 350px;
  overflow: hidden;
}

.card-img {
  height: 200px;
  width: 200px;
  aspect-ratio: 1/1;
  display: block;
  margin: 5px auto;
}

.card-title {
  padding: 0px;
  margin: 0px;
  margin: 10px 0px;
}
.card-desc {
  padding: 0px;
  margin: 0px;
  margin: 5px 0px;
}

#product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
